[package]
name = "fsr-sys"
description = "Raw FidelityFX Super Resolution 2 bindings for rust."
version = "0.1.4"
edition = "2021"
build = "build/build.rs"
authors = ["Embark <opensource@embark-studios.com>"]
license = "MIT"
repository = "https://github.com/EmbarkStudios/fsr-rs"

[dependencies]
widestring = "1.0"

[build-dependencies]
bindgen = { version = "0.68", optional = true }
cc = "1.0"
glob = "0.3"

[features]
vulkan = []
d3d12 = []
generate-bindings = ["dep:bindgen"]

